/*Homepage*/
header{
    background-color:  #333;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navigation-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

.navigation-bar a{
    padding: 10px 20px 20px 10px;
    text-decoration: none;
    color: white;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button{
    background-color: #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    border: none;
}

.shop-now a{
    color: white;
    text-decoration: none;
}

.customer-reviews{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

footer{
        background-color: #333;
        padding: 10px;
        margin: 0px;
        text-align: center;
        color: white;
}


/*Products*/
.product-list{
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

@media screen and (min-width: 769px){
    .product-list tr{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .product-list tr{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .product-list tr {
        font-size: 10px;
        width: 100%;
        justify-content: center;
    }
}

.product-styling tr th{
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 50%;
}


.product-styling tr th:hover{
    background-color: #ffffff;
}

.product-styling tr th img{
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-styling tr th p{
    color: #007BFF;
}

.product-styling button{
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    color: white;
}

.product-styling button:hover{
    background-color: #45A049;
    cursor: pointer;
}

/*Contacts*/
.contact-info{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contact-method{
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.contact-method a:hover{
    color: #007BFF;
}

.contact-method form table tr th{
    padding: 7px;
}

/*Login*/
.login-form{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


.form {
    background-color: #fff;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}

.login-form button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login-form button:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.signup {
    color: #007bff;
    margin: 10px;
    text-decoration: none;
}

.signup:hover {
    text-decoration: underline;
}

.password-wrapper {
    display: flex;
    align-items: center;
}

.password-wrapper button {
    margin-left: 15px; 
}

/*Signup*/
.signup-form{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.form-fields {
    background-color: #fff;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}       

.signup-form button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.signup-form button:hover {
    background-color: #45A049; 
    opacity: 1.0;
}

/*Login and Signup*/
.messagebox{
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
}

/*Cart*/

.cart-display {
    border: 2px solid #000;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
}

.cart-items {
    margin-top: 10px;
}

.remove-button {
    background-color: #4CAF50;  
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #ff0000;
}
